body {
   background: linear-gradient(to bottom right, #957dff, #89ffbe);
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

h1 {
   font-size: 3em;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   color: rgb(255, 255, 255);
   font-style: bold;
   -webkit-text-stroke: 1px rgb(255, 255, 255);
}