* {
   margin: 0;
   padding: 0;
   box-sizing: border-box; /* This is to make sure that padding and margin don't increase the width of the element */
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: #f5f5f5;
}